 *{
    margin:0;
    padding:0;
  }
  html{
    font-size: 62.5%;
  }
  html {font-size:100px;}
  body {font-size:0.15rem}
  html,body{
    /*height:100%;*/
  }
  body{
    font-family:"microsoft yahei";
    --background-color: black;

  }
  img{width:100%;display:block;}


.ctrlPanel{
  position:fixed;
  top:90px;
  right:22px;
  border:1px solid #E6E6E6;
  border-radius:3px;
  padding:20px;
  width:400px;
  height:520px;
  /*background-color:rgb(215,215,215)*/
  background-color:#fff;
  z-index:20;

}

button{
  border: 1px solid #A9A9A9;
  background-color:#fff;
  padding: 10px;
  font-size: 13px;
  border-radius:5px;
  cursor:pointer;
}
button[disabled]{
  border-color:#eee;
  color:#aaa !important;
  cursor:not-allowed;
}
button:hover{
  background-color: #F7F7F7;
}
