 *{
    margin:0;
    padding:0;
  }
  html{
    font-size: 62.5%;
  }
  html {font-size:100px;}
  body {font-size:0.15rem}
  html,body{
    height:100%;
  }
  body{
    font-family:"microsoft yahei";
    background-color: black;
    
  }
  img{width:100%;display:block;}
  

.ctrlPanel{
  position:absolute;
  top:90px;
  right:22px;
  border-radius:10px;
  padding:20px;
  width:400px;
  height:520px;
  /*background-color:rgb(215,215,215)*/
  background-color:#fff;
  
}
