

.face-content-box{
    display:flex;
    height:300px;
    padding-top:30px;
    .face-content-preview{
        flex:1;
        background-size:100% 100%;
        -moz-background-size:100% 100%; 
        background: no-repeat no
    }
    .face-content-sample{
        flex:1;
    }
}
