<!DOCTYPE html>
<html>
    <head>
      <meta charset = "UTF-8">
      <title>FrontendDemo</title>
      <link rel="stylesheet" href="./src/assets/style/default.css" />
      <link rel="stylesheet" href="./libs/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" />
      <style>

      </style>
    </head>
    <body>
      <div id = "app"></div>
      <script src="./libs/threejs/build/three.js"></script>
      <script src="./libs/threejs/loaders/DDSLoader.js"></script>
      <script src="./libs/threejs/loaders/MTLLoader.js"></script>
      <script src="./libs/threejs/loaders/OBJLoader.js"></script>

      <script src="./libs/threejs/controls/OrbitControls.js"></script>

      <script src="./libs/threejs/Detector.js"></script>
      <script src="./libs/threejs/libs/stats.min.js"></script>

      <script src="./libs/datgui/build/dat.gui.min.js"></script>
    </body>


</html>
